.product-component-header {
  background-color: var(--footerBackgroundColor);
  width: 100%;

  & img {
    width: 100px !important;
  }
}

.shop-items-container {
  & ul {
    margin-top: 130px;

    & li {
      width: 90%;
      margin: 0 auto;
      cursor: text;

      &:hover {
        transform: scale(1);
      }

      & * {
        line-height: 2;
        text-align: start;
        padding-bottom: 5px;
      }

      & .desc {
        font-family: 'Roboto', sans-serif;
        padding-top: 10px;
        color: #777777;
      }

      & .add-to-cart-btn {
        background-color: var(--footerBackgroundColor);
        color: #fff;
        display: block;
        width: 200px;
        border-radius: 10px;
        text-align: center;
        padding: 4px 10px;
      }

      & .quantity-wrapper {
        border-radius: 15px;
        border: solid 1px #000;
        font-family: sans-serif;
        display: flex;
        justify-content: space-between;
        font-size: 1em;
        margin-bottom: 20px;
        width: 200px;
        height: 40px;

        & > p,
        & > button {
          background-color: transparent;
          width: 20%;
          text-align: center;
        }

        & .quantity {
          font-size: 1.2em;
        }
      }
    }
  }

  @media (min-width: 900px) {
    width: 60%;
    margin: 0 auto;
  }
}

.sub-modal-container {
  display: none;
}
