.error-boundary-container {
    width: 100%;
    margin: 0 auto;

    & > p,
    & > h1,
    & .link {
        padding: 7px 20px;
    }

    & img {
        width: 100%;
        object-fit: contain;
    }

    & .link {
        font-size: 0.8em;
        color: #646464;
    }

    & .fa-chevron-left {
        padding-right: 0.7em;
    }
}
