.product-component-header {
    background-color: var(--footerBackgroundColor);
    width: 100%;
}

.shop-items-container {
    & ul {
        margin-top: 130px;
        & li {
            width: 90%;
            margin: 0 auto;
            cursor: text;

            &:hover {
                transform: scale(1);
            }

            & * {
                line-height: 2;
                text-align: start;
                padding-bottom: 5px;
            }

            & .desc {
                font-family: "Roboto", sans-serif;
                padding-top: 10px;
                color: #777777;
            }

            & .add-to-cart-btn {
                display: block;
                background-color: var(--footerBackgroundColor);
                width: 300px;
                height: 40px;
                color: #fff;
                border-radius: 50px;
                text-align: center;
                padding: 4px 10px;
            }

            & .quantity-wrapper {
                display: flex;
                background-color: var(--footerBackgroundColor);
                height: 30px;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                padding: 10px;
                font-size: 1.2em;
                margin-bottom: 20px;

                & > p,
                & > button {
                    background-color: var(--textColorGold);
                    width: 30%;
                    text-align: center;
                    border: solid 1px #000;
                    cursor: pointer;
                }
            }
        }
    }
}

.sub-modal-container {
    display: none;
}
